* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
input{
    font-size: 14px;
    width: 100%;
    line-height: 26px;
    height: 35px;
    border: 2px solid red;
    border-radius: 5px;
    padding-left:25px;

}
main{
    background: rgb(223, 200, 200);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circle{
    position:absolute;
}
.register-form-container{
    position: relative;
    z-index: 2;
    background: white;
    max-width: 400px;
    box-shadow: 0px 6px 50px rgba(red, green, blue, alpha);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 38px;
    padding-bottom: 38px;
}
.form-title{
    color:black;
    font-weight: 500px;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 30px;
}
.form-field{
    margin-bottom: 10px;

}
.button{
    font-weight: bold;
    display: block;
    width:340px;
    height:35px;
    background-color: green;
    border-radius: 5px;
    color:white;
    text-align: center;
    cursor: pointer;
}

.devider{
    color:gray;
    text-align: center;
}
.link{
    color:rgb(43, 171, 194);
    cursor: pointer;
}

.message{
    color: red;
    text-align: center;

}